Phase1/src/aufgabe2.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


<xs:element name="Personen">
	
	<xs:complexType>
		<xs:element name="Person">			
			<xs:complexType>
		   		<xs:sequence>
		    			<xs:element name="vorname" type="xs:string"/>
			    		<xs:element name="nachname" type="xs:string"/>
			    		<xs:element name="heading" type="xs:string"/>
			    		<xs:element name="body" type="xs:string"/>
			  	</xs:sequence>
			</xs:complexType>
		</xs:element>
	</xs:complexType>
</xs:element>
